/*! CSS Used from: https://balnacer.exchange/static/css/main.81b6e092.chunk.css */
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :root {
    --background: #21222c;
    --body-text: #90a4ae;
    --exit-modal-color: #dfe3e9;
    --error-color: #ff8a80;
    --header-text: #fafafa;
    --info-border: #fff;
    --link-text: #8c9eff;
    --pie-chart-color: #b388ff;
    --token-balance-text: #90a4ae;
    --warning: #ff8a80;
    --address-color: #82b1ff;
    --info: #ffc780;
    --input-text: #fafafa;
    --input-placeholder-text: #575860;
    --input-hover-background: #31313b;
    --input-hover-placeholder-text: #818187;
    --input-hover-border: #4c5480;
    --button-text: #fafafa;
    --button-background: #536dfe;
    --button-disabled-background: #c7cff9;
    --button-border: #3d5afe;
    --button-disabled-border: #c7cff9;
    --inactive-button-border: rgba(140,158,255,0.2);
    --inactive-button-text: hsla(0,0%,100%,0.6);
    --roboto: "Roboto",sans-serif;
    --panel-border: #41476b;
    --panel-background: #2e2f39;
    --panel-hover-border: #4c5480;
    --panel-hover-background: #31313b;
    --panel-header-background: #282932;
    --highlighted-selector-background: #41476b;
    --highlighted-selector-border: #7785d5;
    --highlighted-selector-text: #fff;
    --selector-background: #2e2f39;
    --selector-border: #41476b;
    --selector-text: #fafafa;
  }
  
  body {
    background: #21222c;
    background: var(--background);
  }
  
  .app-shell {
    margin-top: 60px;
  }
  
  #root::-webkit-scrollbar {
    display: none;
  }
  
  /*! CSS Used from: Embedded */
  .iuzLsw {
    font-family: var(--roboto);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .ePpHDu {
    border-radius: 4px;
    width: 163px;
    height: 40px;
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: var(--button-background);
    border: 1px solid var(--button-border);
    color: var(--button-text);
  }
  
  .dkdkkZ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  
  .cxvCCy {
    margin: 1.25rem;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .kllGVp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .kllGVp a {
    display: inline;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
  }
  
  .kllGVp a img {
    height: 32px;
    width: 32px;
  }
  
  .htYKos {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    color: var(--header-text);
    margin-left: 12px;
  }
  
  .fGoFXA {
    font-family: Roboto;
    margin-right: 24px;
    font-size: 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: var(--header-text);
    text-decoration: none;
  }
  
  @media screen and (max-width: 767px) {
    .fGoFXA {
      display: none;
    }
  
  }
  
  .bSyvuV {
    width: 180px;
    height: 203px;
    background-color: var(--panel-background);
    border: 1px solid var(--panel-border);
    border-radius: 4px;
  }
  
  .iUdOBX {
    height: 48px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--header-text);
    background-color: var(--panel-header-background);
    border-radius: 4px;
  }
  
  .cShSyL {
    height: 94px;
    color: var(--header-text);
    border-top: 1px solid var(--panel-border);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .cShSyL:hover {
    background-color: var(--panel-hover-background);
    border: 1px solid var(--panel-hover-border);
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  
  .fneYCW {
    display: flex;
    flex-direction: row;
  }
  
  .dazQSb {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-right: 12px;
    background-color: white;
  }
  
  .dyubRG {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .iBFodW {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    color: var(--body-text);
    margin-top: 12px;
  }
  
  .hbcDxx {
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 21px;
    padding-right: 21px;
    border-top: 1px solid var(--panel-border);
    border-radius: 0px 0px 4px 4px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .hbcDxx input {
    width: 100px;
    color: var(--input-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    background-color: var(--panel-background);
    border: none;
    box-shadow: inset 0 0 0 1px var(--panel-background), inset 0 0 0 100px var(--panel-background);
  }
  
  .hbcDxx input::-webkit-input-placeholder {
    color: var(--input-placeholder-text);
  }
  
  .hbcDxx input::placeholder {
    color: var(--input-placeholder-text);
  }
  
  .hbcDxx input:focus {
    outline: none;
  }
  
  .hbcDxx:hover {
    background-color: var(--input-hover-background);
    border: 1px solid var(--input-hover-border);
    margin-left: -1px;
    margin-right: -1px;
  }
  
  .hbcDxx:hover input {
    background-color: var(--input-hover-background);
    box-shadow: inset 0 0 0 1px var(--input-hover-background), inset 0 0 0 100px var(--input-hover-background);
  }
  
  .hbcDxx:hover input::-webkit-input-placeholder {
    color: var(--input-hover-placeholder-text);
    background-color: var(--input-hover-background);
  }
  
  .hbcDxx:hover input::placeholder {
    color: var(--input-hover-placeholder-text);
    background-color: var(--input-hover-background);
  }
  
  .rRWVs {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 148px;
  }
  
  .eyrjyS {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .eANfPc {
    animation: 2s linear 0s infinite normal none running iVXCSc;
    width: 80px;
    height: 80px;
  }
  
  .jwkwfk {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-height: 329px;
    overflow: auto;
  }
  
  .jwkwfk::-webkit-scrollbar {
    display: none;
  }
  
  .gkoltk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    width: 184px;
    height: 98px;
    cursor: pointer;
    border-right: 1px solid var(--panel-border);
    border-bottom: 1px solid var(--panel-border);
  }
  
  .gkoltk:nth-child(3n+3) {
    border-right: none;
  }
  
  .iJdozX {
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  
  .fvdeTn {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-right: 12px;
    background-color: white;
  }
  
  .fjIyoo {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .kZgwO {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    color: var(--body-text);
    margin-top: 12px;
  }
  
  .dRpOre {
    display: block;
    position: fixed;
    z-index: 5;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .gVOYEU {
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    max-width: 554px;
    max-height: 449px;
    background-color: var(--panel-background);
    border: 1px solid var(--panel-border);
    border-radius: 4px;
    color: white;
  }
  
  .YFUcl {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 68px;
    padding: 0px 20px;
    background-color: var(--panel-header-background);
    color: var(--header-text);
    border-radius: 4px;
    border-bottom: 1px solid var(--panel-border);
  }
  
  .dieQto {
    color: var(--exit-modal-color);
    transform: rotate(135deg);
    font-size: 22px;
    cursor: pointer;
  }
  
  .jBFyMm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
    padding: 0px 21px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: var(--body-text);
    border-bottom: 1px solid var(--panel-border);
  }
  
  .jBFyMm input {
    width: 75%;
    color: var(--body-text);
    font-size: 16px;
    line-height: 19px;
    background-color: var(--panel-background);
    border: none;
    box-shadow: inset 0 0 0 1px var(--panel-background), inset 0 0 0 100px var(--panel-background);
  }
  
  .jBFyMm input:focus {
    outline: none;
  }
  
  .jQaBbt {
    font-family: var(--roboto);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .gBbqqt {
    font-family: var(--roboto);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .NPQPI {
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: var(--header-text);
    text-align: center;
    margin-top: 6px;
    margin-bottom: 36px;
  }
  
  .PVkSH {
    height: 72px;
  }
  
  .kKTBJj {
    height: 84px;
  }
  
  .gLbVsz {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    font-size: 10px;
    color: var(--body-text);
    position: fixed;
    bottom: 0px;
  }
  
  @media screen and (max-width: 1024px) {
    .gLbVsz {
      display: none;
    }
  
  }
  
  .cyXkZn {
    color: var(--body-text);
    text-decoration: none;
    margin-left: 5px;
  }
  
  /*! CSS Used from: Embedded */
  .hwsTet {
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    overflow: visible;
    box-shadow: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .hwsTet img {
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .hwsTet {
      width: 8.5vw;
      height: 8.5vw;
    }
  
  }
  
  .fEpUUx {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0.5em;
    color: rgb(40, 41, 50);
  }
  
  @media screen and (max-width: 768px) {
    .fEpUUx {
      font-size: 5vw;
    }
  
  }
  
  .gkPnIE {
    width: 100%;
    font-size: 18px;
    margin: 0.333em 0px;
    color: rgb(144, 164, 174);
  }
  
  @media screen and (max-width: 768px) {
    .gkPnIE {
      font-size: 4vw;
    }
  
  }
  
  .czqrpY {
    transition: background-color 0.2s ease-in-out 0s;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(40, 41, 50);
    border-radius: 12px;
    padding: 24px 16px;
  }
  
  @media screen and (max-width: 768px) {
    .czqrpY {
      padding: 1vw;
    }
  
  }
  
  .bejeFL {
    width: 100%;
    padding: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid rgb(65, 71, 107);
  }
  
  @media (hover: hover) {
    .bejeFL:hover .sc-bxivhb {
      background-color: rgb(33, 34, 44);
    }
  
  }
  
  .dKBfQl {
    transition: opacity 0.1s ease-in-out 0s;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    top: 0px;
    left: 50%;
    z-index: 2;
    will-change: opacity;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .dKBfQl * {
    box-sizing: border-box!important;
  }
  
  .fxpHQF {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .izaX {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  
  .dEcFFB {
    position: relative;
    width: 100%;
    background-color: rgb(40, 41, 50);
    border-radius: 12px;
    margin: 10px;
    padding: 0px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 800px;
    min-width: fit-content;
    max-height: 100%;
    overflow: auto;
  }
  
  @media screen and (max-width: 768px) {
    .dEcFFB {
      max-width: 800px;
      grid-template-columns: 1fr;
    }
  
  }
  
  /*! CSS Used from: Embedded */
  .MuiTypography-root {
    margin: 0;
  }
  
  .MuiTypography-h3 {
    font-size: 22px;
    font-family: "Work Sans Thin",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .MuiTypography-h5 {
    font-size: 14px;
    font-family: "Work Sans Thin",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .MuiTypography-colorPrimary {
    color: #2F80ED;
  }
  
  input:focus,
  textarea:focus {
    outline: none!important;
  }
  
  .xbutt {
    border-radius: 4px;
    width: 100%;
    height: 50px;
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: var(--button-background);
    border: 1px solid var(--button-border);
    color: var(--button-text);
  }
  
  .xbutt button:disabled,
  button[disabled] {
    border-radius: 4px;
    width: 100%;
    height: 50px;
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: var(--button-disabled-background);
    border: 1px solid var(--button-disabled-border);
    color: var(--button-text);
  }
  
  /*! CSS Used from: Embedded */
  .MuiPaper-root {
    color: #212529;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
  }
  
  .MuiPaper-rounded {
    border-radius: 4px;
  }
  
  .MuiPaper-elevation24 {
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
  }
  
  .GradientText {
    margin-bottom: 0px!important;
  }
  
  /*! CSS Used from: Embedded */
  .MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    -moz-user-select: none;
  }
  
  /*! CSS Used from: https://balnacer.exchange/css/modal_12_24.css */
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 2000;
    display: none;
  }
  
  #idForm {
    display: none;
    position: fixed;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%,-50%);
    animation: inherit;
    transition: inherit;
  }
  
  .overlay {
    cursor: pointer;
  }
  
  .btn_close {
    width: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .modal .modal-block-main .title {
    position: relative;
    max-width: 100%;
    margin: 0 0 30px;
    padding: 0;
    color: #595959;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
  }
  
  .modal p {
    margin-bottom: 20px;
    padding-bottom: 16px;
    text-align: center;
    color: #506175;
    font-weight: 100;
    line-height: 21px;
    font-size: 14px;
  }
  
  .modal .modal-block-main .switcher {
    display: flex;
    color: #536d8b;
    font-size: 14px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .modal .modal-block-main ul {
    padding-left: 0px!important;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 14px;
    margin-bottom: 40px;
  }
  
  .modal .modal-block-main ul li {
    border-bottom: 1px solid #e1e1e1;
    color: #999;
    font-size: 16px;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  ul li {
    list-style-type: none;
  }
  
  .modal .modal-block-main ul li span {
    color: #717171;
    font-size: 14px;
  }
  
  .modal .modal-block-main ul li input {
    display: inline-block;
    color: #003945;
    font-size: 100;
    border: 0;
    width: calc(100% - 20px);
    font-size: 15px;
    border-radius: 0px;
    text-align: center;
  }
  
  .modal .error-text {
    color: #506175;
    line-height: 21px;
    text-align: center;
  }
  
  .modal {
    display: none;
    position: relative;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: calc(1.25em + 40px);
    border: none;
    border-radius: .3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
    -webkit-animation: swal2-show .3s;
    animation: swal2-show .3s;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  
  .overlay {
    cursor: pointer;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1999;
    display: none;
  }
  
  /*! CSS Used fontfaces */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  